In [30]:
import pymongo
import pandas as pd
import json

In [31]:
from pymongo import MongoClient

In [15]:
client = pymongo.MongoClient("mongodb://localhost:27017/")

In [25]:
df = pd.read_csv("Air_Traffic_Passenger_Statistics.csv")

In [26]:
db = client["Passenger-Details"]

In [18]:
df.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090

In [27]:
col = db["user"]

In [28]:
data = df.to_dict(orient = "records")

data

In [29]:
db.user.insert_many(data)

In [23]:
x = col.find_one()

In [24]:
print(x)

{'_id': ObjectId('643420bfb92d0a17a0a7ea9c'), 'Activity Period': 200507, 'Operating Airline': 'ATA Airlines', 'Operating Airline IATA Code': 'TZ', 'Published Airline': 'ATA Airlines', 'Published Airline IATA Code': 'TZ', 'GEO Summary': 'Domestic', 'GEO Region': 'US', 'Activity Type Code': 'Deplaned', 'Price Category Code': 'Low Fare', 'Terminal': 'Terminal 1', 'Boarding Area': 'B', 'Passenger Count': 27271}